---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Natu Okubet | Portfolio</title>
  </head>
  <body>
    <header>
      <h1>Natu Okubet</h1>
      <p>Software Developer</p>
      <nav>
        <a href="#projects">Projects</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>

    <main>
      <section id="projects">
        <h2>Projects</h2>
        <div class="project">
          <h3>
            <a
              href="https://github.com/Nimmo-san/clarity_app.git"
              target="_blank"
              rel="noopener"
            >
              Clarity
            </a>
          </h3>
          <p>
            A quote/journal app for self-mastery, with custom themes and
            onboarding.
          </p>
        </div>
        <div class="project">
          <h3>
            <a
              href="https://github.com/Nimmo-san/guardian-data-streaming-project.git"
              >Guardian Data Streaming</a
            >
          </h3>
          <p>
            A Python-based serverless application that fetches relevant news
            articles from The Guardian API and publishes them to an AWS SQS
            message broker for further analysis or processing.
          </p>
        </div>
        <div class="project">
          <h3>
            <a href="https://github.com/Nimmo-san/book-service-api.git"
              >Book Management API</a
            >
          </h3>
          <p>
            A simple Flask API that allows users to manage books, including
            creating, reading, updating, and deleting (CRUD) book records. The
            API uses MongoDB Atlas for the database and is containerized using
            Docker.
          </p>
        </div>
        <div class="project">
          <h3>
            <a href="https://github.com/Nimmo-san/Weather-data-pipeline.git"
              >Weather Data ETL & Visualisation Project</a
            >
          </h3>
          <p>
            Simple ETL (Extract, Transform, Load) pipeline that collects weather
            data from an external API, stores it in a SQLite database, and
            visualises it. Specifically, it collects weather parameters like
            temperature, pressure, humidity, and wind data from multiple cities,
            and stores them for historical analysis and visualisation.
          </p>
        </div>
        <div class="project">
          <h3>
            <a href="https://github.com/Nimmo-san/JavaScriptGame.git"
              >JavaScript Game</a
            >
          </h3>
          <p>
            Incomplete JS project. Might come back to it when the opportunity
            presents itself.
          </p>
        </div>
        <!-- Add more projects -->
      </section>

      <section id="about">
        <h2>About Me</h2>
        <p>Dont get me started...</p>
      </section>

      <section id="contact">
        <h2>Contact</h2>
        <a href="mailto:natu.okubet@gmail.com" aria-label="Email"
          ><i class="fa-solid fa-envelope fa-2x"></i>
        </a>
      </section>
    </main>

    <!-- footer -->
    <Footer />
  </body>
</html>
